/* Estilos generales de la página */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    text-align: center;

	border-color: black;

}

.container{
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	
}

textarea{
	width: 500px;
	height: 100px;
}

#div{
	display: grid;
	grid-template-columns: 1fr 1fr;

	grid-gap: 20px;
	margin: 40px 0px;
}

.grid-label{
	grid-column: 1 span;
}

.grid-input{
	grid-column: 1 span;
}
=======
}

h1 {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

/* Estilos de la tabla */
table {
    border-collapse: collapse;
    width: 80%;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #333;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Contenedor de la tabla */
#tabla-container {
    margin: 20px auto;
}
>>>>>>> 8ea1bd539760b8df840f785aa30e9fe9b87cfb8c
